@font-face {
  font-family: Ubuntu;
  src: url('../frontend/src/fonts/Ubuntu-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../frontend/src/fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../frontend/src/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../frontend/src/fonts/Ubuntu-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans';
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 22px 50px;
  max-width: 1340px;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin-bottom: 22px;
  background: #116ACC;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.header__link {
  font-weight: 300;
  font-size: 48px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav__btn {
  padding: 16px 24px;
  background: #FFFFFF;
  border: 2px solid #116ACC;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #116ACC;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
.nav__btn:not(:last-child) {
  margin-right: 25px;
}

.nav__btn.active {
  background: #A0C3FF;
}

.main {
  font-family: Ubuntu;
}

.block {
  display: flex;
  margin-bottom: 50px;
}

.title {
  margin-right: 35px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000000;
}

.create {
  margin-right: 0;
  margin-left: auto;
  padding: 14px 24px;
  padding-left: 50px;
  background: #116ACC;
  border: none;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  background-image: url('../frontend/src/assets/add.svg');
  background-repeat: no-repeat;
  background-position: 17px center;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 70px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: 22px;
  max-width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.number {
  width: 100%;
  font-family: 'Work Sans';
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #182233;
}

.balance {
  width: 100%;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #182233;
}

.text {
  align-self: end;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #000000;
}

.date {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #000000;
}

.open {
  align-self: end;
  margin-right: 0;
  margin-left: auto;
  padding: 16px 21px;
  background: #116ACC;
  border: none;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.open:hover,
.open:focus,
.create:hover,
.create:focus {
  background-color: #5896DB;
  outline: none;
}

.open:active,
.create:active {
  background-color: #0C4A8F;
}

.open.disable,
.create.disable {
  background-color: #C8CBD2;
}

.nav__btn:hover,
.nav__btn:focus {
  background-color: #5896DB;
  outline: none;
}

.nav__btn:active {
  background-color: #CFE1F5;
}

.sort {
  position: relative;
}

.sort__title {
  padding: 10px 16px;
  width: 300px;
  border: 1px solid #116ACC;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
}

.sort::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 21.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
  transition: transform .3s ease-in-out;
}

.sort__list {
  position: absolute;
  margin-top: 2px;
  padding: 10px 0;
  width: 100%;
  list-style: none;
  background: #FFFFFF;
  border-radius: 7px;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
}

.sort__item {
  padding: 10px 16px;
  background-repeat: no-repeat;
  background-position: 94% center;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.sort__item:hover {
  background-color: #A0C3FF;
}

.sort__item.active {
  background-image: url('../frontend/src/assets/check.svg')
}

.sort.active::after {
  transform: rotate(180deg);
  transform-origin: 50% 20%;
}

.sort__list.is-hide {
  opacity: 0;
  z-index: -1;
}

.notifications {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.notification {
  position: relative;
  padding: 12px 24px;
  border-radius: 7px;
  min-width: 440px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.notification:not(:last-child) {
  margin-bottom: 10px;
}

.notification.success {
  background-color: rgba(119 202 102 / .1);
  border: 1px solid #76CA66;
  color: #76CA66;
}
.notification.error {
  background-color: rgba(186 0 0 / .1);
  border: 1px solid #BA0000;
  color: #BA0000;
}
.notification.information {
  background-color: rgba(17 106 204 / .1);
  border: 1px solid #116ACC;
  color: #116ACC;
}
.notification.warning {
  background-color: rgba(251 199 86 / .1);
  border: 1px solid #FBC756;
  color: #FBC756;
}

.notification-btn {
  position: absolute;
  right: 15px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.notification-btn.success {
  background-image: url('../frontend/src/assets/success-close.svg');
}
.notification-btn.error {
  background-image: url('../frontend/src/assets/error-close.svg');
}
.notification-btn.information {
  background-image: url('../frontend/src/assets/info-close.svg');
}
.notification-btn.warning {
  background-image: url('../frontend/src/assets/warning-close.svg');
}