/* auth */
@font-face {
  font-family: Ubuntu;
  src: url('../frontend/src/fonts/Ubuntu-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../frontend/src/fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../frontend/src/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url('../frontend/src/fonts/Ubuntu-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../frontend/src/fonts/WorkSans-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans';
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1370px;
}

.header {
  margin-bottom: 22px;
  padding: 22px 0;
  background: #116ACC;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.header__link {
  font-weight: 300;
  font-size: 48px;
  color: #FFFFFF;
  text-decoration: none;
}

.main {
  margin: auto;
  padding: 50px 40px;
  padding-right: 85px;
  background: #F3F4F6;
  border-radius: 50px;
  font-family: Ubuntu;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000000;
}

.form__label {
  position: relative;
  align-self: end;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #182233;
}

.form__input {
  margin-left: 18px;
  padding: 8px 10px 8px 16px;
  width: 300px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #9CA3AF;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: border .3s ease-in-out, background .3s ease-in-out;
}

.form__input::placeholder {
  color: #6B7280;
}

.form__label:last-of-type {
  margin-bottom: 30px;
}

.form__btn {
  position: relative;
  margin-left: 76px;
  padding: 14px 21px;
  width: fit-content;
  background: #116ACC;
  border: none;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.form__input:hover {
  background: rgba(160, 195, 255, 0.05);
  border: 1px solid #116ACC;
}

.form__input:focus {
  background: rgba(160, 195, 255, 0.1);
  border: 1px solid #116ACC;
  outline: none;
}

.form__btn:hover,
.form__btn:focus {
  background: #5896DB;
  outline: none;
}

.form__btn:active {
  background: #0C4A8F;
}

.form__btn.disable {
  background: #C8CBD2;
}

.form__input.error {
  border: 1px solid #BA0000;
}

.form__input.success {
  border: 1px solid #76CA66;
}

.message {
  position: absolute;
  top: 10px;
  left: 105%;
  padding-left: 30px;
  width: fit-content;
  background-repeat: no-repeat;
  background-position: 0 center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.message.error {
  color: #BA0000;
  background-image: url('../../assets/err-message.svg');
}

.message.success {
  color: #76CA66;
  background-image: url('../../assets/success-message.svg');
}

.message.hidden {
  display: none;
}

.message.auth {
  top: -26px;
  left: 0;
  width: max-content;
}

/* accounts */
.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--cards {
  margin-bottom: 22px;
  padding: 22px 0;
  background: #116ACC;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.header__link {
  font-weight: 300;
  font-size: 48px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav__btn {
  padding: 14px 24px;
  background: #FFFFFF;
  border: 2px solid #116ACC;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #116ACC;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
.nav__btn:not(:last-child) {
  margin-right: 25px;
}

.nav__btn.active {
  background: #A0C3FF;
}

.main--cards {
  font-family: Ubuntu;
}

.block--cards {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.title {
  margin-right: 35px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000000;
}

.create {
  margin-right: 0;
  margin-left: auto;
  padding: 14px 24px;
  padding-left: 50px;
  background: #116ACC;
  border: none;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  background-image: url('../../assets/add.svg');
  background-repeat: no-repeat;
  background-position: 17px center;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.cards {
  display: flex;
  gap: 2.5vw 3.64vw;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: 22px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.number {
  width: 100%;
  font-family: 'Work Sans';
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #182233;
}

.balance {
  width: 100%;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #182233;
}

.text {
  align-self: end;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #000000;
}

.date {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #000000;
}

.open {
  align-self: end;
  margin-right: 0;
  margin-left: auto;
  padding: 16px 21px;
  background: #116ACC;
  border: none;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.open:hover,
.open:focus,
.create:hover,
.create:focus {
  background-color: #5896DB;
  outline: none;
}

.open:active,
.create:active {
  background-color: #0C4A8F;
}

.open.disable,
.create.disable {
  background-color: #C8CBD2;
}

.nav__btn:hover,
.nav__btn:focus {
  background-color: #5896DB;
  outline: none;
}

.nav__btn:active {
  background-color: #CFE1F5;
}

.sort {
  position: relative;
}

.sort__title {
  padding: 10px 16px;
  width: 300px;
  border: 1px solid #116ACC;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
}

.sort::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 21.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
  transition: transform .3s ease-in-out;
}

.sort__list {
  position: absolute;
  margin-top: 2px;
  padding: 10px 0;
  width: 100%;
  list-style: none;
  background: #FFFFFF;
  border-radius: 7px;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
  transition: opacity .3s ease-in-out, z-index .3s ease-in-out;
}

.sort__item {
  padding: 10px 16px;
  background-repeat: no-repeat;
  background-position: 94% center;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.sort__item:hover {
  background-color: #A0C3FF;
}

.sort__item.active {
  background-image: url('../../assets/check.svg')
}

.sort.active::after {
  transform: rotate(180deg);
  transform-origin: 50% 20%;
}

.sort__list.is-hide {
  opacity: 0;
  z-index: -1;
}

.notifications {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.notification {
  position: relative;
  padding: 12px 24px;
  padding-right: 55px;
  border-radius: 7px;
  min-width: 440px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.notification:not(:last-child) {
  margin-bottom: 10px;
}

.notification.success {
  background-color: rgba(119 202 102 / .1);
  border: 1px solid #76CA66;
  color: #76CA66;
}

.notification.error {
  background-color: rgba(186 0 0 / .1);
  border: 1px solid #BA0000;
  color: #BA0000;
}

.notification.information {
  background-color: rgba(17 106 204 / .1);
  border: 1px solid #116ACC;
  color: #116ACC;
}

.notification.warning {
  background-color: rgba(251 199 86 / .1);
  border: 1px solid #FBC756;
  color: #FBC756;
}

.notification-btn {
  position: absolute;
  right: 15px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.notification-btn.success {
  background-image: url('../../assets/success-close.svg');
}

.notification-btn.error {
  background-image: url('../../assets/error-close.svg');
}

.notification-btn.information {
  background-image: url('../../assets/info-close.svg');
}

.notification-btn.warning {
  background-image: url('../../assets/warning-close.svg');
}

/* account-detail */
.main {
  font-family: Ubuntu;
}

.title {
  font-family: Ubuntu;
}

.block {
  display: flex;
  margin-bottom: 50px;
}

.block--mb30 {
  margin-bottom: 30px;
}

.back,
.send {
  margin-right: 0;
  margin-left: auto;
  padding: 14px 24px;
  padding-left: 50px;
  background: #116ACC;
  border: none;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  background-image: url('../../assets/arrow.svg');
  background-repeat: no-repeat;
  background-position: 17px center;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.back:hover,
.back:focus,
.send:hover,
.send:focus {
  background-color: #5896DB;
  outline: none;
}

.back:active,
.send:active {
  background-color: #0C4A8F;
}

.send {
  position: relative;
  margin-right: 29%;
  background-image: url('../../assets/mail.svg');
}

.back.disable {
  background-color: #C8CBD2;
}

.subtitle {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000000;
}

.balance--detail {
  margin-right: 0;
  margin-left: auto;
  width: auto;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
}

.balance--detail span {
  padding-left: 50px;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
}

.form__label {
  font-family: Ubuntu;
}

.account {
  position: relative;
  width: min-content;
}

.account__title {
  padding: 10px 16px;
  width: 300px;
  border: 1px solid #9CA3AF;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out;
}

.account__title:hover {
  background: rgba(160, 195, 255, 0.05);
  border: 1px solid #116ACC;
}

.account__title:focus {
  background: rgba(160, 195, 255, 0.1);
  border: 1px solid #116ACC;
  outline: none;
}

.account::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 21.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
  transition: transform .3s ease-in-out;
}

.account__list {
  position: absolute;
  z-index: 10;
  margin-top: 2px;
  padding: 10px 0;
  width: 100%;
  list-style: none;
  background: #FFFFFF;
  border-radius: 7px;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
}

.account__item {
  padding: 10px 16px;
  background-repeat: no-repeat;
  background-position: 94% center;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.account__item:hover {
  background-color: #A0C3FF;
}

.account.active::after {
  transform: rotate(180deg);
  transform-origin: 50% 20%;
}

.account__list.is-hide {
  opacity: 0;
  z-index: -1;
}

.bg-grey {
  padding: 25px 50px;
  background: #F3F4F6;
  border-radius: 50px;
}

.tran__title {
  font-family: Ubuntu;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__row {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 25px;
}

.block--main {
  display: flex;
  flex-wrap: wrap;
}

.tran {
  width: 45.23%;
}

.tran {
  margin-right: 50px;
  margin-bottom: 50px;
}

.history {
  width: 100%;
  cursor: pointer;
}

.dynamic {
  cursor: pointer;
}

.form__label--detail,
.form__label--detail.form__label:last-of-type {
  margin-bottom: 0;
  align-self: auto;
}

.form__row:first-child .form__label--detail {
  margin-right: 18px;
}

.bg-wite {
  padding: 25px 50px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.dynamic {
  margin-bottom: 50px;
  width: 51%;
}

.table-history {
  width: 100%;
}

.thead-history {
  display: flex;
  padding: 20px 50px;
  background: #116ACC;
  border-radius: 15px;
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.tbody-history {
  margin-bottom: 41px;
}

.row-history {
  display: flex;
  padding: 20px 50px;
  border-bottom: 2px solid rgba(0, 82, 255, 0.1);
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
}

.col-1 {
  width: 30%;
}

.col-2 {
  width: 30%;
}

.col-3 {
  width: 20%;
}

.sum-in {
  color: #76CA66;
}

.sum-out {
  color: #FD4E5D;
}

.currency {
  font-family: 'Work Sans';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.message-tran {
  position: absolute;
  top: 10px;
  left: 105%;
  padding-left: 30px;
  width: fit-content;
  background-repeat: no-repeat;
  background-position: 0 center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.message-tran.error {
  color: #BA0000;
  background-image: url('../../assets/err-message.svg');
}

.message-tran.success {
  color: #76CA66;
  background-image: url('../../assets/success-message.svg');
}

.message-tran.hidden {
  display: none;
}

.message-tran {
  font-family: Ubuntu;
  left: 0;
  top: auto;
  bottom: -22px;
}

.message-tran.sum {
  left: 151px;
}

.message-tran.send-tran {
  right: -190px;
  width: max-content;
  left: auto;
}

/* history */
.dynamic--history {
  width: 100%;
  height: 288px;
}

.history__tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.history.is-hide {
  display: none;
}

.pagination__block {
  display: flex;
  margin: 30px auto;
}

.pagination__prev,
.pagination__step,
.pagination__page,
.pagination__next {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background: transparent;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #9CA3AF;
}

.pagination__page.active {
  background: #116ACC;
  color: #FFFFFF;
}

.pagination__step.hide {
  display: none;
}

.pagination__next,
.pagination__prev {
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__prev {
  background-image: url('../frontend/src/assets/arrow-prev.svg');
}

.pagination__next {
  background-image: url('../frontend/src/assets/arrow-next.svg');
}

.pagination__page.is-hide {
  display: none;
}

.pagination__next.disable, 
.pagination__prev.disable {
  cursor: auto;
}