.main {
  font-family: Ubuntu;
}

.title {
  font-family: Ubuntu;
}

.block {
  display: flex;
  margin-bottom: 50px;
}

.block--mb30 {
  margin-bottom: 30px;
}

.back,
.send {
  margin-right: 0;
  margin-left: auto;
  padding: 14px 24px;
  padding-left: 50px;
  background: #116ACC;
  border: none;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  background-image: url('../../assets/arrow.svg');
  background-repeat: no-repeat;
  background-position: 17px center;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.back:hover,
.back:focus,
.send:hover,
.send:focus {
  background-color: #5896DB;
  outline: none;
}

.back:active,
.send:active {
  background-color: #0C4A8F;
}

.send {
  position: relative;
  margin-right: 29%;
  background-image: url('../../assets/mail.svg');
}

.back.disable {
  background-color: #C8CBD2;
}

.subtitle {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000000;
}

.balance--detail {
  margin-right: 0;
  margin-left: auto;
  width: auto;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
}

.balance--detail span {
  padding-left: 50px;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
}

.form__label {
  font-family: Ubuntu;
}

.account {
  position: relative;
  width: min-content;
}

.account__title {
  padding: 10px 16px;
  width: 300px;
  border: 1px solid #9CA3AF;
  border-radius: 7px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out;
}

.account__title:hover {
  background: rgba(160, 195, 255, 0.05);
  border: 1px solid #116ACC;
}

.account__title:focus {
  background: rgba(160, 195, 255, 0.1);
  border: 1px solid #116ACC;
  outline: none;
}

.account::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 21.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
  transition: transform .3s ease-in-out;
}

.account__list {
  position: absolute;
  z-index: 10;
  margin-top: 2px;
  padding: 10px 0;
  width: 100%;
  list-style: none;
  background: #FFFFFF;
  border-radius: 7px;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
}

.account__item {
  padding: 10px 16px;
  background-repeat: no-repeat;
  background-position: 94% center;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.account__item:hover {
  background-color: #A0C3FF;
}

.account.active::after {
  transform: rotate(180deg);
  transform-origin: 50% 20%;
}

.account__list.is-hide {
  opacity: 0;
  z-index: -1;
}

.bg-grey {
  padding: 25px 50px;
  background: #F3F4F6;
  border-radius: 50px;
}

.tran__title {
  font-family: Ubuntu;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__row {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 25px;
}

.block--main {
  display: flex;
  flex-wrap: wrap;
}

.tran {
  width: 45.23%;
}

.tran {
  margin-right: 3.77%;
  margin-bottom: 50px;
}

.history {
  width: 100%;
  cursor: pointer;
}

.dynamic {
  cursor: pointer;
}

.form__label--detail,
.form__label--detail.form__label:last-of-type {
  margin-bottom: 0;
  align-self: auto;
}

.form__row:first-child .form__label--detail {
  margin-right: 18px;
}

.bg-wite {
  padding: 25px 50px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.dynamic {
  margin-bottom: 50px;
  width: 51%;
}

.table-history {
  width: 100%;
}

.thead-history {
  display: flex;
  padding: 20px 50px;
  background: #116ACC;
  border-radius: 15px;
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.tbody-history {
  margin-bottom: 41px;
}

.row-history {
  display: flex;
  padding: 20px 50px;
  border-bottom: 2px solid rgba(0, 82, 255, 0.1);
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #374151;
}

.col-1 {
  width: 30%;
}

.col-2 {
  width: 30%;
}

.col-3 {
  width: 20%;
}

.sum-in {
  color: #76CA66;
}

.sum-out {
  color: #FD4E5D;
}

.currency {
  font-family: 'Work Sans';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.message-tran {
  position: absolute;
  top: 10px;
  left: 105%;
  padding-left: 30px;
  width: fit-content;
  background-repeat: no-repeat;
  background-position: 0 center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.message-tran.error {
  color: #BA0000;
  background-image: url('../../assets/err-message.svg');
}

.message-tran.success {
  color: #76CA66;
  background-image: url('../../assets/success-message.svg');
}

.message-tran.hidden {
  display: none;
}

.message-tran {
  font-family: Ubuntu;
  left: 0;
  top: auto;
  bottom: -22px;
}

.message-tran.sum {
  left: 151px;
}

.message-tran.send-tran {
  right: -190px;
  width: max-content;
  left: auto;
}
